

.area{
    position: relative;
    z-index: -1;
    background: #979DAC; 
    width: 100%;
    height:100vh;
}

.circles{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position:absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background:#e7e7e746;
    animation: animate 20s linear infinite;
    bottom: -150px;
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}

@keyframes animate {
    
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }
    
    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}

.box{
    position: absolute;
    margin-left: 20px;
}

#vid{
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.barBox ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 17%;
    background-color: #020350;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
.barBox li a {
    margin-top: 50px;
    text-align: center;
    display: block;
    color: white;
    padding: 12px;
    text-decoration: none;
  }
  
.barBox li a.active {
    background-color: #6e6e6ebe;
    color: white;
  }
  
.barbox li a:hover:not(.active) {
    background-color: rgba(109, 109, 109, 0.658);
    color: white;
  }
/* info */
#college1, #college2, #college3, #college4  {
    background-color: #5C677D;
    display: none;
}
h1{
    color: #020350;
}
#right {
    margin-top: 40px;
    position: absolute;
    right: 0px;
    width: 50%;
}
#right ul{
    list-style-type:square;
    direction: rtl;
    font-size: large;
}
#right li{
    color: white;
    padding: 5px;
}

#right button{
    background-color: rgba(255, 255, 255, 0);
    font-size: medium;
    border: 3.5px solid #020350;
    transition-duration: 0.4s;
    border-radius: 15px;
}
#right button:hover{
    background-color: #020350;
    color: white;
    text-decoration: underline;
}

#end{

    text-align: center;
    display: flex;
    align-items:center;
    justify-content: center;
}
#end h1{
    background-color: brown;
    display: block;
}

#college1 iframe {
    background-color: #020350;
    width:35% ;
    height:450px;
}

#college2 iframe{
    background-color: #020350;
    width:35% ;
    height:450px;
}
#college3 iframe{
    background-color: #020350;
    width:35% ;
    height:450px;
}
#college4 iframe{
    background-color: #020350;
    width:35% ;
    height:450px;
}

.card button {
    background-color: rgb(196, 196, 196);
    font-size: larger;
    border: 0px solid;
    transition-duration: 0.4s;
    border-radius: 15px;
}

.card {    
    color: rgb(196, 196, 196);
    height: 150px;
    width: 150px;
    border-radius:20px;
    margin: 25px; 
    box-shadow: 10px 10px 9px rgb(85, 85, 85);
    transition: all 0.5s;
}

.card:hover {
    text-decoration: none;
    border-radius: 15px;
    box-shadow: 10px 10px 9px rgb(12, 12, 12);
}
.endBox{
    display: block;
}